<div class="card" >
    <div class="card-body">
        <h5 class="card-title">{{ atelier.nom}}</h5>
        <p class="card-text">
        {{ atelier.description|markdown|raw }}
        </p>
        <button onclick="location.href='{{ path('app_atelier_show', {'id': atelier.id}) }}'"
                title="Show" class="btn btn-primary">show</button>
        {% if app.user  %}
            {% set inscrit = false %}
            {% for inscription in atelier.inscriptions %}
                {% if inscription.user.id == app.user.id %}
                    {% set inscrit = true %}
                {% endif %}
            {% endfor %}

            {% if 'ROLE_APPRENTI' not in app.user.roles %}
                <a class="btn btn-primary" type="button" href="{{ path('inscrits', {id: atelier.id}) }}">les inscrits</a>
            {% endif %}

            {% if inscrit %}
                <a href="{{ path('desinscrire', {id: atelier.id}) }}" class="btn btn-danger">Se désinscrire</a>
            {% else %}
                {% if 'ROLE_APPRENTI' in app.user.roles %}
                    <a href="{{ path('inscrire', {id: atelier.id}) }}" class="btn btn-primary">S'inscrire</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>